*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif
}
html{
    font-size: 10px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.profile-card{
    max-width: 400px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 2rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profile-image-container{
    height: 120px;
    width: 120px;
    margin-bottom: 2rem;
}
.profile-image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    /* border: 4px solid ; */
}
.profile-card h1{
    text-align: center;
    padding-bottom: .8rem;
}
.profile-card h2{
    text-align: center;
    color: #4c4c4d;
    padding-bottom: .5rem;
}
.profile-card p{
    line-height: 18px;
}
.profile-card .bio{
    text-align: center;
    font-size: 1.15rem;
    line-height: 18px;
    padding: 1rem 0;
}
.social-links{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 0;
}
a{
    cursor: pointer;
}
.email-link a{
    color: rgb(24, 94, 198);
    text-decoration: none;
    font-weight: 500;
}

/* .social-links a{
    width: auto;
} */